

#offcanvasExample{
    width: 200px;
    margin-top: 56px;
}

    

body{
    overflow-x: hidden;;
}
main{
    transition: margin-left 0.5s; 
}
main.shifted{
    margin-left: 200px;
}


