

#offcanvasExample{
    width: 240px;
    margin-top: 56px;
}
@media (max-width:992px) {
    #toggleSidebar{
        display: none;
    }
    #offcanvasExample{
        display: none;
    }
    #main{
        transition: margin-left 0.3s; 
    }
    #main.shifted{
        margin-left: 240px;
    }

}

#canvas-heading{
    color:rgb(91, 91, 91);
    font-size: smaller;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

    

body{
    overflow-x: hidden;;
}
main{
    transition: margin-left 0.4s; 
}
main.shifted{
    margin-left: 240px;
}


